# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
venv/
env/
ENV/
env.bak/
venv.bak/

# Django
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
media/
staticfiles/
local_settings.py

# Environment variables
.env

# IDEs and OS
.vscode/
.idea/
.DS_Store
*.swp